.vscode

.venv
env
.env
__pycache__
.mypy_cache
.ruff_cache

py-traits-validator/src/traitsvalidator/registry/
py-traits-validator/build/
*.egg-info/

# node.js
#
.yarn/cache/
node_modules/
npm-debug.log
yarn-error.log